.header__logo {
    margin: 0;
    min-width: 103px;
    min-height: 24px;
    margin-left: 27px;
    padding-bottom: 31px;
}

@media screen and (min-width: 768px) {
    .header__logo {
        padding-bottom: 41px;
        margin-left: 0;
        width: 142px;
    }
}