.group {
    width: 88%;
    margin: auto;
    padding-top: 36px;
    display: grid;
    row-gap: 20px;
    list-style-type: none;
}


@media screen and (min-width: 768px) {

    .group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
        column-gap: 20px;
    }
}

@media screen and (min-width: 1280px) {

    .group {
        max-width: 880px;
        column-gap: 17px;
        padding-top: 47px;
    }

}