@font-face {
    src:
        url(../fonts/Inter/Inter-Regular.woff2) format('woff2');
    font-family: 'Inter';
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src:
        url(../fonts/Inter/Inter-Medium.woff2) format('woff2');
    font-family: 'Inter';
    font-weight: 500;
    font-size: 42px;
}

@font-face {
    src:
        url(../fonts/Inter/Inter-Black.woff2) format('woff2');
    font-family: 'Inter';
    font-weight: 900;
    font-display: swap;
}