.element{
    margin: auto;
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}