.element__info {
    width: calc(100% - 42px);
    margin: 25px auto 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {

    .element__info{
        max-width: 246px;
        margin-top: 25px;
    }

}